<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.mapper.IMailMapper">
    <insert id="insertMailInfo" parameterType="MailDTO">
        INSERT INTO MAIL_INFO
        (
        TOMAIL, TITLE, CONTENTS, CHG_DT
        )
        VALUES(
        #{toMail}, #{title}, #{contents}, NOW()
        )

    </insert>

    <select id="getMailList" resultType="MailDTO">
        SELECT MAIL_SEQ, TOMAIL, TITLE, CONTENTS, CHG_DT
        FROM MAIL_INFO
    </select>

    <select id="getMailInfo" resultType="MailDTO">
        SELECT TOMAIL, TITLE, CONTENTS, CHG_DT
        FROM MAIL_INFO
        WHERE MAIL_SEQ = #{mailSeq}
    </select>
</mapper>